# This File is Created by Tang Dynasty.
set ADCList ../../pin/pins.adc
set SDCList ../../pin/time.sdc
set area_option -maparea
set device_name ph1_90.db
set end_step opt_gate
set package_name PH1A90SBG484
set prj_name {eth_test}
set speed 2
set start_step read_design
set top_model_name {eth_top}
